* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-image: url('https://picsum.photos/1920/1080');
    background-size: cover;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.container {
    display:flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: aliceblue;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.buttons {
    display:flex;
    gap:15px;
    margin: 20px 0;
}
button {
    cursor: pointer;
    padding: 10px;
    font-size:30px;
    border:none;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
}
button:hover {
    opacity: 0.7;
}

.rock {
    background-color: rgb(135, 9, 173) ;
}

.paper {
    background-color: greenyellow ;
}

.scissors {
    background-color: rgb(74, 74, 168) ;
}

p{
    font-weight: bold;
    margin-bottom: 10px;
}

.yourscore span {
color: rgb(79, 79, 160);
}

.machinescore span {
    color: rgb(177, 57, 57);
}

.empates span {
    color: rgb(77, 77, 77);
}

#reaction {
    width: 50px;
}